<section class="phx-hero">
  <h1>Driver Timings</h1>
</section>

<section class="row">
  <article class="column">
    <%= for {driver, time} <- @drivers_with_times do %>
      <ul class="driver">
        <li>
          <%= driver_display(driver) %>
          : <span id="time-<%= driver.number %>"><%= time_display(time) %></span>
        </li>
      </ul>
    <% end %>
  </article>
</section>
