<section class="phx-hero">
  <h1>Driver Timings</h1>
</section>

<section class="row">
  <article class="column">
    <%= for {driver, time} <- @drivers_with_times do %>
      <ul id="<%= driver.number %>">
        <li>
          <%= driver_display(driver) %>
          : <%= time_display(time) %>
        </li>
      </ul>
    <% end %>
  </article>
</section>
